body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #eee;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 100vh;
}

.cards *{
    box-sizing: border-box;
}

.card{
    width: 17em;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    margin: 2em;
}

.card img{
    width: 16em;
    position: absolute;
    top: 6em;
    right: -4em;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.5));
}

.content{
    padding: 1em;
}

.card h2{
    color: #fff;
    margin: 0 0 0 0.8em;
}

.banner{
    height: 15em;
    background: linear-gradient(90deg, #fb3854 0%, #901026 100%);
    padding-top: 3em;
    border-radius: 10px 10px 50% 50%;
}

.sizes ul{
    list-style: none;
}

.sizes .size{
    display: inline-block;
    margin: 0 0.5em;
    cursor: pointer;
    font-weight: 700;
}

.size:hover{
    color: #ccc;
}

.active{
    color: #ccc;
}

.details small{
    display: block;
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.cart{
    background: linear-gradient(90deg, #fb3854 0%, #901026 100%);
    padding: 1em 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 2em;
    color: #fff;
    border: none;
    margin: 0 auto;
    font-weight: 700;
    box-shadow: 0px 5px 15px rgba(251, 56, 84, 0.7);
    cursor: pointer;
}

.pop{
    transform: translateZ(20px);
}

/* Second Card */
.card:nth-child(2) .banner, 
.card:nth-child(2) .cart{
    background: linear-gradient(90deg, #333 0%, #111 100%);
}

.card:nth-child(2) img{
    top: 4em;
}
.card:nth-child(2) .cart{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
}

/* Third Card */
.card:nth-child(3) .banner, 
.card:nth-child(3) .cart{
    background: linear-gradient(90deg, #b7df5a 0%, #8ab92c 100%);
}

.card:nth-child(3) img{
    top: 5.3em;
}
.card:nth-child(3) .cart{
    box-shadow: 0px 5px 15px rgba(183, 223, 90, 0.7);
}

